# yarn
yarn-error.log
node_modules
.yarn-cache

# editor
*.swp

*.patch
*.log
*.DS_Store
*backup*
*config.json
config.json
!default.config.json
!dev.config.json
!production.config.json
dist
*.crt
*.key
*.pem
